<html xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<table class="tx-frp-form-answers">
    <tr>
        <td>
            <f:translate
                    key="LLL:EXT:frp_form_answers/Resources/Private/Language/locallang_be.xlf:tx_frpformanswers_domain_model_formentry.answers"/>
        </td>
        <td>
            {formEntry.answers}
        </td>
    </tr>
    <tr>
        <td>
            <f:translate
                    key="LLL:EXT:frp_form_answers/Resources/Private/Language/locallang_be.xlf:tx_frpformanswers_domain_model_formentry.field_hash"/>
        </td>
        <td>
            {formEntry.fieldHash}
        </td>
    </tr>
    <tr>
        <td>
            <f:translate
                    key="LLL:EXT:frp_form_answers/Resources/Private/Language/locallang_be.xlf:tx_frpformanswers_domain_model_formentry.form"/>
        </td>
        <td>
            {formEntry.form}
        </td>
    </tr>
    <tr>
        <td>
            <f:translate
                    key="LLL:EXT:frp_form_answers/Resources/Private/Language/locallang_be.xlf:tx_frpformanswers_domain_model_formentry.exported"/>
        </td>
        <td>
            {formEntry.exported}
        </td>
    </tr>
</table>