<html xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:frp="http://typo3.org/ns/Frappant/FrpFormAnswers/ViewHelpers/Be"

      data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <h1>
        <f:translate
                key="LLL:EXT:frp_form_answers/Resources/Private/Language/locallang_be.xlf:tx_frpformanswers_backend_templates_formentry_list.listh1"/>
    </h1>
    <f:flashMessages/>

    <f:variable name="title"><f:translate key="LLL:EXT:frp_form_answers/Resources/Private/Language/locallang_be.xlf:deleteFormName.confirmation.title" /></f:variable>
    <f:variable name="content"><f:translate key="LLL:EXT:frp_form_answers/Resources/Private/Language/locallang_be.xlf:deleteFormName.confirmation.content" /></f:variable>
    <f:for each="{formNames}" as="formName">
        <f:form action="export" class="form-inline" method="POST" object="{formEntryDemand}" format="Xls"
                objectName="formEntryDemand">
            <f:form.hidden property="allPids" value="1"/>
            <f:form.hidden property="uidLabel" value="uid"/>
            <f:form.hidden property="formName" value="{formName}"/>
            <div class="form-group">
                <f:form.select property="selectAll" class="form-control" options="{
                    1: '{f:translate(key:\'LLL:EXT:frp_form_answers/Resources/Private/Language/locallang_be.xlf:tx_frpformanswers_backend_templates_formentry_prepareexport.exportall\')}',
                    0: '{f:translate(key:\'LLL:EXT:frp_form_answers/Resources/Private/Language/locallang_be.xlf:tx_frpformanswers_backend_templates_formentry_prepareexport.exportnew\')}'
                    }"
                />
            </div>
            <div class="form-group">
                <f:form.submit class="btn btn-sm btn-default "
                               value="{f:translate(key:'LLL:EXT:frp_form_answers/Resources/Private/Language/locallang_be.xlf:tx_frpformanswers_backend_templates_formentry_prepareexport.export')}"
                />
            </div>
            <div class="form-group">
                <f:link.action action="deleteFormname" class="btn btn-sm btn-default t3js-modal-trigger" arguments="{formName: formName}" data="{title:title,content:content}">
                    {f:translate(key:'LLL:EXT:frp_form_answers/Resources/Private/Language/locallang_be.xlf:tx_frpformanswers_backend_templates_formentry_show.delete')}
                </f:link.action>
            </div>
        </f:form>
        <f:format.raw><frp:table columns="{0:'uid', 1: 'form', 2: 'crdate as create date', 3: 'exported'}" filter="{0: 'form = \'{formName}\''}" table="tx_frpformanswers_domain_model_formentry"  pid="{pid}" /></f:format.raw>
    </f:for>
    <f:if condition="{subPagesWithFormEntries}">
        <h2>
            <f:translate
                    key="LLL:EXT:frp_form_answers/Resources/Private/Language/locallang_be.xlf:tx_frpformanswers_backend_templates_formentry_list.listh2"/>
        </h2>
        <ul style="list-style-type: none;">
            <f:for each="{subPagesWithFormEntries}" as="page">
                <li>
                    <core:icon identifier="apps-pagetree-page-default" size="small" /> <frp:link.beLink title="{page.title}" pageUid="{page.uid}">{page.title} ({page.uid})</frp:link.beLink>
                     <f:for each="{formEntriesStatus.{page.uid}}" as="formData" key="formName">
                        <li style="margin-bottom: 15px;">
                            Form: {formName}
                            <ul>
                                <li><f:translate key="tx_frpformanswers_domain_model_formentry.tot" /> : <f:format.number decimals="0">{formData.tot}</f:format.number></li>
                                <li><f:translate key="tx_frpformanswers_domain_model_formentry.new" /> : <f:format.number decimals="0">{formData.new}</f:format.number></li>
                            </ul>
                        </li>
                    </f:for>
                </li>
            </f:for>
        </ul>
    </f:if>

    <f:if condition="{subPagesWithFormEntries ->f:count()} == 0 && {formNames->f:count()} == 0">
        <f:translate
                key="LLL:EXT:frp_form_answers/Resources/Private/Language/locallang_be.xlf:tx_frpformanswers_backend_templates_formentry_list.nothingsaved"/>

    </f:if>
</f:section>
