
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Export Form Answers</h1>
<f:flashMessages />
<f:form action="export" method="POST">
<table class="table table-striped table-hover">
    <tr>
        <td>
            <label class="t3js-formengine-label">
                Gewählte eingaben
            </label>
            <div class="t3js-formengine-field-item">
                <f:form.select name="config[selectAll]" options="{1: 'Alle exportieren', 0: 'Nur neue exportieren'}" />
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <label class="t3js-formengine-label">
                Gewählte Felder
            </label>
            <div class="t3js-formengine-field-item">
               <f:form.select name="config[allPids]" options="{1: 'Alle Seiten exportieren', 0: 'Nur diese Seite exportieren'}" />
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <label class="t3js-formengine-label">
                Dateiformat
            </label>
            <div class="t3js-formengine-field-item">
               <f:form.select name="config[exportType]" options="{excel: 'Excel', csv: 'CSV', xml: 'XML'}" />
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <label class="t3js-formengine-label">
                Formulare
            </label>
            <div class="t3js-formengine-field-item">
               <f:form.select name="config[form]" prependOptionLabel="Kein Spezifisches Formular" options="{formHashes}" />
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <label class="t3js-formengine-label">
                Dateiname
            </label>
            <div class="t3js-formengine-field-item">
               <f:form.textfield name="config[fileName]" value="export" />
            </div>
        </td>
    </tr>
    <tr class="csvExport specific_type_config">
        <td>
            <label class="t3js-formengine-label">
                Zeichensatz
            </label>
            <div class="t3js-formengine-field-item">
                <f:form.select options="{UTF-8: 'UTF-8', UTF-F16: 'UTF-16LE', iso-8859-1: 'ISO-8859-1'}" name="config[charset]" />
            </div>
        </td>
    </tr>
    <tr class="csvExport specific_type_config">
        <td>
            <label class="t3js-formengine-label">
                Trennzeichen (nur bei csv)
            </label>
            <div class="t3js-formengine-field-item">
                <f:form.select options="{semikolon:';', komma: ',',tab: '[TAB]'}" name="config[delimiter]" />
            </div>
        </td>
    </tr>
    <tr class="csvExport specific_type_config">
        <td>
            <label class="t3js-formengine-label">
                Text-Trennzeichen (nur bei csv)
            </label>
            <div class="t3js-formengine-field-item">
                <f:form.select options="{double: '\"', single: '\''}" name="config[enclosure]" />
            </div>
        </td>
    </tr>
    <tr>
        <td><f:form.submit class="btn btn-sm btn-default " value="Exportieren" /></td>
    </tr>
</table>
</f:form>
</f:section>