<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:frp="http://typo3.org/ns/Frappant/FrpFormAnswers/ViewHelpers/Be"
      data-namespace-typo3-fluid="true">
<f:layout name="Module"/>

<f:section name="Content">
    <h1>
        <f:translate
                key="LLL:EXT:frp_form_answers/Resources/Private/Language/locallang_be.xlf:tx_frpformanswers_backend_templates_formentry_list.listh1"/>
    </h1>
    <f:flashMessages/>

    <f:variable name="title"><f:translate key="LLL:EXT:frp_form_answers/Resources/Private/Language/locallang_be.xlf:deleteFormName.confirmation.title"/></f:variable>
    <f:variable name="content"><f:translate key="LLL:EXT:frp_form_answers/Resources/Private/Language/locallang_be.xlf:deleteFormName.confirmation.content"/></f:variable>

    <f:for each="{formNames}" as="formName">
        <div class="panel panel-default mb-4">
            <div class="panel-heading">
                <h2 class="panel-title mb-0">{formName}</h2>
            </div>
            <div class="panel-body">
                <f:form action="export" method="POST" object="{formEntryDemand}" format="Xls"
                        objectName="formEntryDemand">
                    <f:form.hidden property="allPids" value="1"/>
                    <f:form.hidden property="uidLabel" value="uid"/>
                    <f:form.hidden property="formName" value="{formName}"/>
                    <f:form.hidden property="fileName" value="{formName}"/>

                    <div class="row g-2 align-items-end">
                        <div class="col-auto">
                            <label class="form-label" for="frp-selectall-{formName}">
                                <f:translate
                                        key="LLL:EXT:frp_form_answers/Resources/Private/Language/locallang_be.xlf:tx_frpformanswers_backend_templates_formentry_prepareexport.selectedentries"/>
                            </label>
                            <f:form.select id="frp-selectall-{formName}" property="selectAll" class="form-select" options="{
                                1: '{f:translate(key:\'LLL:EXT:frp_form_answers/Resources/Private/Language/locallang_be.xlf:tx_frpformanswers_backend_templates_formentry_prepareexport.exportall\')}',
                                0: '{f:translate(key:\'LLL:EXT:frp_form_answers/Resources/Private/Language/locallang_be.xlf:tx_frpformanswers_backend_templates_formentry_prepareexport.exportnew\')}'
                                }"/>
                        </div>
                        <div class="col-auto">
                            <f:form.submit class="btn btn-default"
                                           value="{f:translate(key:'LLL:EXT:frp_form_answers/Resources/Private/Language/locallang_be.xlf:tx_frpformanswers_backend_templates_formentry_prepareexport.export')}"/>
                        </div>
                        <div class="col-auto">
                            <f:link.action action="deleteFormname" class="btn btn-danger t3js-modal-trigger"
                                           arguments="{formName: formName}" data="{title:title,content:content}">
                                <core:icon identifier="actions-delete" size="small"/>
                                <f:translate
                                        key="LLL:EXT:frp_form_answers/Resources/Private/Language/locallang_be.xlf:tx_frpformanswers_backend_templates_formentry_show.delete"/>
                            </f:link.action>
                        </div>
                    </div>
                </f:form>
            </div>
            <frp:table columns="{0:'uid', 1: 'form', 2: 'crdate', 3: 'exported'}" formName="{formName}" table="tx_frpformanswers_domain_model_formentry" pid="{pid}"/>
        </div>
    </f:for>

    <f:if condition="{subPagesWithFormEntries}">
        <h2>
            <f:translate
                    key="LLL:EXT:frp_form_answers/Resources/Private/Language/locallang_be.xlf:tx_frpformanswers_backend_templates_formentry_list.listh2"/>
        </h2>
        <div class="table-fit">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><f:translate key="LLL:EXT:frp_form_answers/Resources/Private/Language/locallang_be.xlf:tx_frpformanswers_backend_templates_formentry_list.page" default="Page"/></th>
                    <th><f:translate key="LLL:EXT:frp_form_answers/Resources/Private/Language/locallang_db.xlf:tx_frpformanswers_domain_model_formentry.form" default="Form"/></th>
                    <th class="text-end"><f:translate key="tx_frpformanswers_domain_model_formentry.tot"/></th>
                    <th class="text-end"><f:translate key="tx_frpformanswers_domain_model_formentry.new"/></th>
                </tr>
                </thead>
                <tbody>
                <f:for each="{subPagesWithFormEntries}" as="page">
                    <f:for each="{formEntriesStatus.{page.uid}}" as="formData" key="formName">
                        <tr>
                            <td>
                                <core:icon identifier="apps-pagetree-page-default" size="small"/>
                                <frp:link.beLink title="{page.title}" pageUid="{page.uid}">{page.title} ({page.uid})</frp:link.beLink>
                            </td>
                            <td>{formName}</td>
                            <td class="text-end"><f:format.number decimals="0">{formData.tot}</f:format.number></td>
                            <td class="text-end"><f:format.number decimals="0">{formData.new}</f:format.number></td>
                        </tr>
                    </f:for>
                </f:for>
                </tbody>
            </table>
        </div>
    </f:if>

    <f:if condition="{subPagesWithFormEntries ->f:count()} == 0 && {formNames->f:count()} == 0">
        <div class="callout callout-info">
            <f:translate
                    key="LLL:EXT:frp_form_answers/Resources/Private/Language/locallang_be.xlf:tx_frpformanswers_backend_templates_formentry_list.nothingsaved"/>
        </div>
    </f:if>
</f:section>
</html>
