<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Module"/>

<f:section name="Content">
    <h1><f:translate key="LLL:EXT:frp_form_answers/Resources/Private/Language/locallang_be.xlf:tx_frpformanswers_backend_templates_formentry_prepareexport.header" default="Forms Export"/></h1>
    <f:flashMessages/>

    <f:form action="export" method="POST" object="{formEntryDemand}" objectName="formEntryDemand">
        <div class="row">
            <div class="col-md-6 col-xl-4">

                <div class="form-group">
                    <label class="form-label" for="frp-export-selectall">
                        <f:translate
                                key="LLL:EXT:frp_form_answers/Resources/Private/Language/locallang_be.xlf:tx_frpformanswers_backend_templates_formentry_prepareexport.selectedentries"/>
                    </label>
                    <f:form.select id="frp-export-selectall" class="form-select" property="selectAll" options="{
                        1: '{f:translate(key:\'LLL:EXT:frp_form_answers/Resources/Private/Language/locallang_be.xlf:tx_frpformanswers_backend_templates_formentry_prepareexport.exportall\')}',
                        0: '{f:translate(key:\'LLL:EXT:frp_form_answers/Resources/Private/Language/locallang_be.xlf:tx_frpformanswers_backend_templates_formentry_prepareexport.exportnew\')}'
                        }"/>
                </div>

                <div class="form-group">
                    <label class="form-label" for="frp-export-allpids">
                        <f:translate
                                key="LLL:EXT:frp_form_answers/Resources/Private/Language/locallang_be.xlf:tx_frpformanswers_backend_templates_formentry_prepareexport.selectedfields"/>
                    </label>
                    <f:form.select id="frp-export-allpids" class="form-select" name="allPids" options="{
                        1: '{f:translate(key:\'LLL:EXT:frp_form_answers/Resources/Private/Language/locallang_be.xlf:tx_frpformanswers_backend_templates_formentry_prepareexport.exportallpages\')}',
                        0: '{f:translate(key:\'LLL:EXT:frp_form_answers/Resources/Private/Language/locallang_be.xlf:tx_frpformanswers_backend_templates_formentry_prepareexport.exportonlythispage\')}'
                        }"/>
                </div>

                <div class="form-group">
                    <label class="form-label" for="frp-export-format">
                        <f:translate
                                key="LLL:EXT:frp_form_answers/Resources/Private/Language/locallang_be.xlf:tx_frpformanswers_backend_templates_formentry_prepareexport.fileformat"/>
                    </label>
                    <f:form.select id="frp-export-format" class="form-select" name="format"
                                   options="{Xls: 'Excel', Csv: 'CSV', Xml: 'XML'}"/>
                </div>

                <div class="form-group">
                    <label class="form-label" for="frp-export-filename">
                        <f:translate
                                key="LLL:EXT:frp_form_answers/Resources/Private/Language/locallang_be.xlf:tx_frpformanswers_backend_templates_formentry_prepareexport.filename"/>
                    </label>
                    <f:form.textfield id="frp-export-filename" class="form-control" property="fileName" value="export"/>
                </div>

                <div class="form-group">
                    <label class="form-label" for="frp-export-uidlabel">
                        <f:translate
                                key="LLL:EXT:frp_form_answers/Resources/Private/Language/locallang_be.xlf:tx_frpformanswers_backend_templates_formentry_prepareexport.labelforuid"/>
                    </label>
                    <f:form.textfield id="frp-export-uidlabel" class="form-control" property="uidLabel" value="uid"/>
                </div>

            </div>
            <div class="col-md-6 col-xl-4">

                <div class="form-group">
                    <label class="form-label" for="frp-export-charset">
                        <f:translate
                                key="LLL:EXT:frp_form_answers/Resources/Private/Language/locallang_be.xlf:tx_frpformanswers_backend_templates_formentry_prepareexport.charset"/>
                    </label>
                    <f:form.select id="frp-export-charset" class="form-select" property="charset"
                                   options="{UTF-8: 'UTF-8', iso-8859-1: 'ISO-8859-1', UTF-16LE: 'UTF-16LE'}"/>
                    <div class="form-text">
                        <f:translate
                                key="LLL:EXT:frp_form_answers/Resources/Private/Language/locallang_be.xlf:tx_frpformanswers_backend_templates_formentry_prepareexport.csvonly"
                                default="Applies to the CSV export"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-label" for="frp-export-delimiter">
                        <f:translate
                                key="LLL:EXT:frp_form_answers/Resources/Private/Language/locallang_be.xlf:tx_frpformanswers_backend_templates_formentry_prepareexport.separator"/>
                    </label>
                    <f:form.select id="frp-export-delimiter" class="form-select" property="delimiter"
                                   options="{semikolon: ';', komma: ',', tab: '[TAB]'}"/>
                    <div class="form-text">
                        <f:translate
                                key="LLL:EXT:frp_form_answers/Resources/Private/Language/locallang_be.xlf:tx_frpformanswers_backend_templates_formentry_prepareexport.csvonly"
                                default="Applies to the CSV export"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-label" for="frp-export-enclosure">
                        <f:translate
                                key="LLL:EXT:frp_form_answers/Resources/Private/Language/locallang_be.xlf:tx_frpformanswers_backend_templates_formentry_prepareexport.textseparator"/>
                    </label>
                    <f:form.select id="frp-export-enclosure" class="form-select" property="enclosure"
                                   options="{double: '\"', single: '\''}"/>
                    <div class="form-text">
                        <f:translate
                                key="LLL:EXT:frp_form_answers/Resources/Private/Language/locallang_be.xlf:tx_frpformanswers_backend_templates_formentry_prepareexport.csvonly"
                                default="Applies to the CSV export"/>
                    </div>
                </div>

            </div>
        </div>

        <div class="mt-3">
            <f:form.submit class="btn btn-primary"
                           value="{f:translate(key:'LLL:EXT:frp_form_answers/Resources/Private/Language/locallang_be.xlf:tx_frpformanswers_backend_templates_formentry_prepareexport.export')}"/>
        </div>
    </f:form>
</f:section>
</html>
