<html xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Module"/>

<f:section name="Content">
    <h1>
        <f:translate
                key="LLL:EXT:frp_form_answers/Resources/Private/Language/locallang_be.xlf:tx_frpformanswers_backend_templates_formentry_show.singleviewh1"/>
    </h1>

    <f:flashMessages/>
    <f:render partial="FormEntry/Properties" arguments="{formEntry:formEntry}"/>
    <f:link.action action="list">
        <f:translate
                key="LLL:EXT:frp_form_answers/Resources/Private/Language/locallang_be.xlf:tx_frpformanswers_backend_templates_formentry_show.list"/>
    </f:link.action>
    <br/>
    <f:link.action action="create">
        <f:translate
                key="LLL:EXT:frp_form_answers/Resources/Private/Language/locallang_be.xlf:tx_frpformanswers_backend_templates_formentry_show.create"/>
</f:section>