<html xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<table class="tx-frp-form-answers">
    <tr>
        <td>
            <f:translate
                    key="LLL:EXT:frp_form_answers/Resources/Private/Language/locallang_be.xlf:tx_frpformanswers_domain_model_formentry.answers"/>
        </td>
        <td>
            <f:format.htmlspecialchars>{formEntry.answers}</f:format.htmlspecialchars>
        </td>
    </tr>
    <tr>
        <td>
            <f:translate
                    key="LLL:EXT:frp_form_answers/Resources/Private/Language/locallang_be.xlf:tx_frpformanswers_domain_model_formentry.field_hash"/>
        </td>
        <td>
            <f:format.htmlspecialchars>{formEntry.fieldHash}</f:format.htmlspecialchars>
        </td>
    </tr>
    <tr>
        <td>
            <f:translate
                    key="LLL:EXT:frp_form_answers/Resources/Private/Language/locallang_be.xlf:tx_frpformanswers_domain_model_formentry.form"/>
        </td>
        <td>
            <f:format.htmlspecialchars>{formEntry.form}</f:format.htmlspecialchars>
        </td>
    </tr>
    <tr>
        <td>
            <f:translate
                    key="LLL:EXT:frp_form_answers/Resources/Private/Language/locallang_be.xlf:tx_frpformanswers_domain_model_formentry.exported"/>
        </td>
        <td>
            <f:format.htmlspecialchars>{formEntry.exported}</f:format.htmlspecialchars>
        </td>
    </tr>
</table>